.background {
    background-color: #300a24;
    font-family: monospace;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1;
}

.normal-text {
    color: white;
    display: inherit;
}

.special-green-color {
    color: #26975c;
    display: inherit;
}

.special-blue-color {
    color: #12488b;
    display: inherit;
}

.cursor {
    width: 9px;
    height: 18px;
    background-color: white;
    animation: cursorAnimation 1s infinite;
    position: relative;
    top: 2px;
}

@keyframes cursorAnimation {
    0% {
        background-color: white;
    }

    49.999% {
        background-color: white;
    }

    50% {
        background-color: transparent;
    }

    99.999% {
        background-color: transparent;
    }
}
