html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  /*text-decoration: none;*/
}

div {
  display: inherit;
}

.fullscreen {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.inline-div {
  display: inline-block;
  white-space: pre-wrap;
}

.game-container {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
